.icon-menu {
  width: 24px;
  height: 16px;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.adv-icon {
  display: block;
  width: 100%;
  height: 120px;
  padding: 25px 0;
  margin-bottom: 30px;

  background-color: $background-additional-color;
  border-radius: 4px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.client-icon-one {
  width: 45px;
  height: 50px;
}

.client-icon-two {
  width: 40px;
  height: 52px;
}

.client-icon-three {
  width: 41px;
  height: 43px;
}

.client-icon-four {
  width: 80px;
  height: 42px;
}

.client-icon-five {
  width: 59px;
  height: 47px;
}

.client-icon-six {
  width: 89px;
  height: 46px;
}

.button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
